.button {
  @include font-sansN4;
  position: relative;
  display: inline-block;
  height: 36px;
  min-width: 64px;
  padding: 0 8px;
  vertical-align: middle;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 35px;
  text-decoration: none;
  text-transform: uppercase;
  background: transparent;
  border: none;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  outline: none;
}
.button::-moz-focus-inner {
  border: 0;
}
.button:hover {
  background-color: rgba(0, 0, 0, 0.13);
}
.button:focus:not(:active) {
  background-color: rgba(0, 0, 0, 0.13);
}
.button:active {
  background-color: rgba(0, 0, 0, 0.26);
}
.button[disabled][disabled] {
  color: rgba(0, 0, 0, .26);
  cursor: auto;
  background-color: transparent;
}
input.button[type="submit"] {
  -webkit-appearance: none;
}