// color - prefer rgb and rgba.
// -----------------------------------------------------------------------------
// scale on greys
$black:                       rgb(0, 0, 0);
$blackA8:                     rgba(0, 0, 0, 0.87);
$blackA5:                     rgba(0, 0, 0, 0.54);
$blackA2:                     rgba(0, 0, 0, 0.38);
$blackA1:                     rgba(0, 0, 0, 0.12);
$white:                       rgb(255, 255, 255);
$whiteA7:                     rgba(255, 255, 255, 0.7);
$whiteA3:                     rgba(255, 255, 255, 0.3);
$whiteA1:                     rgba(255, 255, 255, 0.12);
// color to use on most components
$charcoal:                    rgb(33, 33, 33);
$darkgrey:                    rgb(66, 66, 66);
$grey:                        rgb(97, 97, 97);
$silver:                      rgb(236, 236, 236);
// color for the app
$primary:                     rgb(207, 70, 70);
$accent:                      rgb(33, 150, 243);
// color appplication
// -----------------------------------------------------------------------------
$color-blackA8--body:                 $blackA8;
$color-blackA5--subHeader:            $blackA5;
$color-blackA8--button:               $blackA8;
$color-accent--link:                  $accent;
$color-primary--buttonPrimaryInv:     $primary;
$color-accent--buttonAccentInv:       $accent;
$color-white--buttonFilled:           $white;

$bgColor-blackA1--buttonHover:        $blackA1;
$bgColor-blackA1--buttonFocus:        $blackA1;
$bgColor-blackA2--buttonActive:       $blackA2;
$bgColor-blackA2--buttonDisable:      $blackA2;
$bgColor-primary--buttonPrimary:      $primary;
$bgColor-accent--buttonAccent:        $accent;